@{
    ViewData["Title"] = "Error";
}

<div class="mt-5">
    <h1 class="display-1">Something went wrong...</h1>

    <p class="mt-4 lead">@ViewBag.ErrorMessage Please close this window and try it again.</p>

    <p class="lead fst-italic">If the problem persists, please contact our support.</p>
</div>