@page "/game-saves"

<div class="d-flex m-3 justify-content-center">
    <SearchBar OnSearch="UpdateGameSaves" />
    <Button Color="ButtonColor.Primary" Size="Size.Large" Class="p-2 ms-5" @onclick="ShowCreateNewGameSaveModal">
        <Icon Name="IconName.PlusLg" /> Create new Game
    </Button>
</div>
<div>
    <Grid @ref="grid"
          TItem="GameSave"
          Class="table table-hover table-bordered table-striped"
          DataProvider="EmployeesDataProvider"
          AllowFiltering="true"
          Responsive="true">

        <GridColumn TItem="GameSave" HeaderText="Game Save Name" PropertyName="Name">
            @context.Name
        </GridColumn>
        <GridColumn TItem="GameSave" HeaderText="Game Name" PropertyName="Game Name">
            @context.Game.Name
        </GridColumn>
        <GridColumn TItem="GameSave" HeaderText="Active" PropertyName="Active">
            @* @context.Active *@
        </GridColumn>
        <GridColumn TItem="GameSave" HeaderText="Actions">
            @* TODO ACTIONS *@
        </GridColumn>

    </Grid>
</div>

<Modal @ref="_createNewGameSaveModal" Size="ModalSize.ExtraLarge" IsVerticallyCentered="true" />