@page "/"
@page "/games"
@using SaveIt.App.Domain.Repositories
@using SaveIt.App.Domain.Entities
@inject IGameRepository gameRepository

<h1>Game</h1>

<div class="d-flex">
    <SearchBar OnSearch="UpdateGames" />
</div>

<div class="d-flex flex-wrap">
    @foreach (var game in _filteredGames)
    {
        <GameCard Game="game" ShowDetail="true"/>
    }
</div>

@code
{
    private List<Game> _allGames = new();
    private List<Game> _filteredGames = new();
    private string _searchText = "";

    protected override async Task OnInitializedAsync()
    {
        _allGames = (await gameRepository.GetAllGamesAsync()).ToList();
        _filteredGames = _allGames.ToList();
    }

    void UpdateGames(string searchText)
    {
        _filteredGames = _allGames.Where(g => g.Name.Contains(searchText)).ToList();
    }
}
