@page "/"
@page "/games"
@using SaveIt.App.Domain.Repositories
@using SaveIt.App.Domain.Entities
@inject IGameRepository gameRepository
@inject IStorageAccountRepository storageAccountRepository

<div class="d-flex m-3 justify-content-center">
    <SearchBar OnSearch="UpdateGames" />
    <Button Color="ButtonColor.Primary" Size="Size.Large" Class="p-2 ms-5" @onclick="ShowNewCreateNewGameModal">
        <Icon Name="IconName.PlusLg" /> Create new Game
    </Button>
</div>

<div class="d-flex flex-wrap m-3">
    @if (_filteredGames.Count == 0)
    {
        <div class="d-flex justify-content-center w-100 mt-4">
            <Alert Color="AlertColor.Secondary" Class="w-100"> No games found </Alert>
        </div>
    }
    else
    {
        @foreach (var game in _filteredGames)
        {
            <GameCard Game="game" ShowDetail="game == _selectedGame" OnCardClicked="GameCardClicked" />
        }
    }
</div>

<Modal @ref="_createNewGameModal" Title="Modal title" Size="ModalSize.ExtraLarge" IsVerticallyCentered="true" />
<Modal @ref="_localItemPickerModal" Size="ModalSize.ExtraLarge" OnHidden="ShowCreateNewGameModal" IsVerticallyCentered="true" />
<Modal @ref="_remoteItemPickerModal" Size="ModalSize.ExtraLarge" OnHidden="ShowCreateNewGameModal" IsVerticallyCentered="true" />
<Modal @ref="_authorizeStorageModal" Size="ModalSize.Large" OnHidden="ShowCreateNewGameModal" IsVerticallyCentered="true" />
