<EditForm Model="GameSaveModel" OnValidSubmit=ValidSubmitAsync autocomplete="off">
    <FluentValidationValidator />
    
    <GameSelect OnSelectedGameChanged="SelectedGameChanged" OnCreateGameRequested="ShowCreateGameSaveModalAsync" />

    <div class="p-2">

        <h3 class="p-2 mt-2">Game Save Information</h3>
        
        <EditGameSave ModalLocalItemPicker="ModalLocalItemPicker"
                      ModalRemoteItemPicker="ModalRemoteItemPicker"
                      ModalAuthorizeStorage="ModalAuthorizeStorage"
                      ModalCurrent="ModalCurrent"
                      Model="GameSaveModel.GameSave" />

        <div class="d-flex justify-content-end">
            <Button Color="ButtonColor.Primary"
                    Size="Size.Large"
                    Type="ButtonType.Submit"
                    TabIndex="8">
                Create Game Save
            </Button>
        </div>
    </div>
</EditForm>


