<div style="width: 11rem; height: 11rem;">
    <div class="d-flex">
        <div>
            <Icon Name="IconName.Image" /> Game Image
            <InputFile OnChange="LoadFile" accept="image/png,image/jpg,image/jpeg" />
        </div>
        <div>
            @if (!string.IsNullOrEmpty(_base64) && _error is null)
            {
                <img class="upload-image" alt="Image" src="@_base64" style="max-width: 7rem; max-height: 7rem;" />
            }
        </div>
    </div>
    @if (!string.IsNullOrEmpty(_error))
    {
        <Alert Color="AlertColor.Danger">@_error</Alert>
    }
</div>
