<div class="m-1">
    <div class="">
        <Icon Name="IconName.PcDisplayHorizontal" />
        <label class="fs-5">Local Game Save Location</label>
    </div>
    <div>
        <Button Color="ButtonColor.Primary"
            Outline="true"
            Class="ms-4 me-3"
            @onclick="ShowModal">
            Select Location
        </Button>
        @Path
    </div>
</div>
