@page "/profiles/{Id:long}/upload"

@inject IExternalStorageService _externalStorageService

<h3>Upload</h3>

<button @onclick="CreateFile">Test</button>


@code {
    [Parameter]
    public long Id { get; set; }

    private async Task CreateFile()
    {
        await _externalStorageService.CreateFileAsync(Id);
    }
}
