<div>
    <h5>Old Versions</h5>
    <div class="d-flex justify-content-around mt-1">
        <div class="w-75">
            This feature allows users to download older versions of their saved files. If they wish to update the version stored in the cloud to the downloaded one, they must manually upload it.
        </div>
        <div>
            <Button Color="ButtonColor.Primary" Size="Size.Large" Class="ps-3 pe-3" @onclick="ShowDownloadOlderVersionModal">
                <Icon CustomIconName="@CustomIcons.FloppyDiskSolid" /> Show 
            </Button>
        </div>
    </div>

    <h5 class="mt-3">Unlock Repository</h5>
    <div class="d-flex justify-content-around" mt-1>
        <div class="w-75">
            This feature provides users with the capability to manually unlock the cloud storage lock if they have encountered difficulty reopening it, regardless of who initiated the lock initially.
        </div>
        <div>
            <Button Color="ButtonColor.Primary" Size="Size.Large" Class="ps-3 pe-3" @onclick="UnlockRepositoryAsync">
                <Icon CustomIconName="@CustomIcons.UnlockSolid" /> Unlock 
            </Button>
        </div>
    </div>

    <h5 class="mt-3">Manual Upload</h5>
    <div class="d-flex justify-content-around mt-1">
        <div class="w-75">
            This feature allows usert to manually upload a local game save, defined by a path on the profile, to cloud storage. This save will then be automatically set as the newest save.
        </div>
        <div>
            <Button Color="ButtonColor.Primary" Size="Size.Large" Class="ps-3 pe-3" @onclick="ShowManualUploadModalAsync">
                <Icon CustomIconName="@CustomIcons.UploadSolid" /> Upload 
            </Button>
        </div>
    </div>

    <ConfirmDialog @ref="_confirmDialog" />
</div>


