<EditForm Model="CreateNewCompleteGame" OnValidSubmit=ValidSubmit autocomplete="off">
    <FluentValidationValidator />
    <div>
        <EditGame ModalLocalItemPicker="ModalLocalItemPicker" ModalCurrent="ModalCurrent" Model="CreateNewCompleteGame.Game"/>

        <h3 class="p-2">Game Save Information</h3>

        <EditGameSave
            ModalLocalItemPicker="ModalLocalItemPicker"
            ModalRemoteItemPicker="ModalRemoteItemPicker"
            ModalAuthorizeStorage="ModalAuthorizeStorage"
            ModalCurrent="ModalCurrent"
            Model="CreateNewCompleteGame.GameSave"/>

        <div class="d-flex justify-content-end">
            <Button Color="ButtonColor.Primary"
                Size="Size.Large"
                Type="ButtonType.Submit"
                TabIndex="8">
                Save changes
            </Button>
        </div>
    </div>
</EditForm>
