<div class="min-size-modal">
    <EditForm Model="_model" OnValidSubmit="OnValidSubmitAsync">
        <FluentValidationValidator />

        <div class="d-flex m-2 align-items-center justify-content-center">
            <div class="me-3 fs-5 fw-bold">
                Keep save count: <Help Text="Indicates number of file saves that should be kept in the repository." />
            </div>
            <div class="me-3 w-50">
                <NumberInput TValue="int" @bind-Value="_model.Count" Placeholder="Enter amount" class="form-control fs-5" />
            </div>
            <div class="me-3">
                <Button Color="ButtonColor.Primary"
                        Size="Size.Large"
                        Type="ButtonType.Submit"
                        Disabled="_updateInProgress">
                    Update
                </Button>
            </div>
            <div class="content-placeholder">
                &nbsp;
                <Spinner Size="SpinnerSize.Small" Color="SpinnerColor.Primary" Visible="@_updateInProgress" />
            </div>
        </div>
        <div class="text-center">
            <ValidationMessage For="@(() => _model.Count)" />
        </div>
    </EditForm>

    @if (_error is not null)
    {
        <Alert Color="AlertColor.Danger"> @_error </Alert>
    }

    <div class="m-3 mt-4">

        <Grid @ref="_grid"
              TItem="FileItemModel"
              Class="table table-hover table-bordered table-striped"
              DataProvider="GameSaveVersionsProvider"
              Responsive="true"
              AllowPaging="true"
              AllowSorting="true">

            <GridColumn TItem="FileItemModel" HeaderText="Name" PropertyName="Name" SortKeySelector="x => x.Name">
                @context.Name
            </GridColumn>
            <GridColumn TItem="FileItemModel" HeaderText="Actions">
                <Tooltip Title="Download save">
                    <Icon CustomIconName="@CustomIcons.DownloadSolid"
                            Size="IconSize.x5"
                            Color="IconColor.Primary"
                            Class="p-1"
                            @onclick="() => ShowDownloadSaveAsync(context)" />
                </Tooltip>
            </GridColumn>
        </Grid>
    </div>
</div>
