<div>
    <div>
        <h4>Select one of the Storage providers</h4>
    </div>
    <div class="d-flex justify-content-around">
        <div class="d-flex flex-column align-items-center m-3 p-4 pb-2 storage-container">
            <div>
                <img src="google-drive-logo.svg" alt="Google Drive Logo"/>
            </div>
            <div class="mt-5">
                <p class="fw-bold fs-3">Google Drive</p>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center m-3 p-4 pb-2 storage-container disabled">
            <div>
                <img src="dropbox-logo.svg" alt="Google Drive Logo" />
            </div>
            <div class="mt-5">
                <p class="fw-bold fs-3">Dropbox</p>
            </div>
            <div>
                <p class="text-muted">Coming soon</p>
            </div>
        </div>
    </div>
</div>


@code {

}
