<div class="d-flex justify-content-around p-2">
    <div class="column">
        <div class="m-1 p-1">
            <label class="fs-5">
                Game Name
                <RequiredMark />
                <Help Text="Enter any game name used to identify the game within this app." />
            </label>
            <InputText @bind-Value="Model.Name" placeholder="Game Name" class="w-75 form-control" />
            <ValidationMessage For="() => Model.Name" />
        </div>
        <div class="m-1 mt-2 p-1">
            <label class="fs-5">
                Username
                <RequiredMark />
                <Help Text="Enter a username that will be displayed to other players in the app when you host a game." />
            </label>
            <InputText @bind-Value="Model.Username" placeholder="Username" class="w-75 form-control" />
            <ValidationMessage For="() => Model.Username" />
        </div>
    </div>
    <div class="column">
        <div class="m-1 p-1">
            <ImagePicker ImageSource="@Model.Image"
                         OnImageChanged="ImageChanged"
                         HelpText="Select the image that will be displayed for this game." />
        </div>
        <div>
            <ItemPicker Title="Game Executable Location"
                        Icon="IconName.FileTypeExe"
                        SelectedFile="@Model.GameExecutableFile"
                        OnPickerClicked="ShowLocalExecutablePickerModal"
                        OnPathCleared="ClearLocalExecutablePath"
                        HelpText="Select the location of the game '.exe' or '.lnk' file used to run the game." />
        </div>
    </div>
</div>
