<div class="d-flex justify-content-around p-2">
    <div class="column">
        <div class="m-1 p-1">
            <label class="fs-5">
                Game Name
                <RequiredMark />
                <Help Text="Enter the name of the game you want to create a profile for." />
            </label>
            <InputText @bind-Value="Model.Name" placeholder="Game Name" class="w-75 form-control" tabindex="0" />
            <ValidationMessage For="() => Model.Name" />
        </div>
        <div class="m-1 mt-2 p-1">
            <label class="fs-5">
                Username
                <RequiredMark />
                <Help Text="Enter your username under which you want to appear within this application when saving game progress for this particular game." />
            </label>
            <InputText @bind-Value="Model.Username" placeholder="Username" class="w-75 form-control" tabindex="1" />
            <ValidationMessage For="() => Model.Username" />
        </div>
    </div>
    <div class="column">
        <div class="m-1 p-1">
            <ImagePicker ImageSource="@Model.Image"
                         OnImageChanged="ImageChanged"
                         TabIndex="2"
                         HelpText="Select the image that will be displayed for this game." />
        </div>
        <div>
            <ItemPicker Title="Game Executable Location"
                        Icon="IconName.FileTypeExe"
                        SelectedFile="@Model.GameExecutableFile"
                        OnPickerClicked="ShowLocalExecutablePickerModal"
                        OnPathCleared="ClearLocalExecutablePath"
                        TabIndex="3"
                        HelpText="Select the location of the game exe file used to run the game." />
        </div>
    </div>
</div>
